<button class='{{styles.box}}'>
  <div class='{{styles.avatar}}'>
    {{{avatarImg}}}
  </div>
  <div class='{{styles.caption}}'>
    <div class='{{styles.title}}'>
      <span class='{{styles.title}}'>{{title}}</span>
      <time class='{{styles.time}}'>{{messageTime}}</time>
    </div>
    <div class='{{styles.subtitle}}'>
      <span class='{{styles.message}}'>{{lastMessage}}</span>
      {{#if counter}}
        <span class='{{styles.counter}}'>{{counter}}</span>
      {{/if}}
    </div>
  </div>
</button>