<div class='{{styles.box}}'>
  <div class='{{styles.top-box}}'>
    <div class='{{styles.top-back-btn-box}}'>
      {{{backLink}}}
      <span class='{{styles.top-title}}'>Profile</span>
    </div>
    {{{editLink}}}
  </div>
  <div class='{{styles.content-box}} hide-scroll'>
    {{{profileInfo}}}
  </div>
</div>