<div class='{{styles.box}}'>
  <div class='{{styles.top-box}}'>
    <div class='{{styles.top-back-btn-box}}'>
      <a class='{{styles.top-back-btn}}' href='/'>
        {{{arrowLeftIcon}}}
      </a>
      <span class='{{styles.top-title}}'>Profile</span>
    </div>
    <a class='{{styles.top-edit-btn}}' href='/settings'>
      {{{editIcon}}}
    </a>
  </div>
  <div class='{{styles.content-box}} hide-scroll'>
    {{{profileInfo}}}
  </div>
</div>