<div class='{{styles.box}}'>
  <div class='{{styles.top-box}}'>
    <div class='{{styles.top-back-btn-box}}'>
      <a class='{{styles.top-back-btn}}' href='/'>
        {{{icons.arrowLeft}}}
      </a>
      <span class='{{styles.top-title}}'>Profile</span>
    </div>
    <a class='{{styles.top-edit-btn}}' href='/settings'>
      {{{icons.edit}}}
    </a>
  </div>
  <div class='{{styles.content-box}} hide-scroll'>
    <div class='{{styles.avatar-box}}'>
      <div class='{{styles.avatar}}'>
        {{{avatar}}}
      </div>
      <div class='{{styles.avatar-info-fullname}}'>{{fullname}}</div>
      <div class='{{styles.avatar-info-phone}}'>{{phone}}</div>
    </div>
    <div class='{{styles.info-box}}'>
      <div class='{{styles.info-title}}'>Info</div>
      <div class='{{styles.info-text}}'>
        <span>Username:</span>
        <span>{{username}}</span>
      </div>
      <div class='{{styles.info-text}}'>
        <span>Email:</span>
        <span>{{email}}</span>
      </div>
      <div class='{{styles.info-text}}'>
        <span>Description:</span>
        <span>{{description}}</span>
      </div>
    </div>
  </div>
</div>