<div class='{{styles.box}}'>
  <div class='{{styles.top-box}}'>
    {{{link}}}
    <div class='{{styles.new-chat-icon}}'>
      {{{createChat}}}
    </div>
  </div>
  <div class='{{styles.content-box}} hide-scroll'>
    <div class='{{styles.content-search}}'>{{{search}}}</div>
    <div class='{{styles.content-items}}'>
      {{#each chatItems}}
        {{{this}}}
      {{/each}}
    </div>
  </div>
</div>