<div class='{{styles.container}}'>
  {{#if date}}
    <div class='{{styles.date}}'>
      {{date}}
    </div>
  {{/if}}
  <div class='{{styles.box}} {{#if owner}}{{styles.right}} {{/if}} {{typeStyle}}'>
    <div class='{{styles.content}} {{typeStyle}}'>{{{content}}}</div>
    <div class='{{styles.time-box}}'>
      <time class='{{styles.time}} {{#if owner}}{{styles.right}} {{/if}} {{typeStyle}}'>{{messageTime}}</time>
    </div>
  </div>
</div>

