<div class='{{styles.box}}'>
  <div class='{{styles.left-icons}}'>
    <button class='{{styles.icon}} {{styles.smile}}'>
      {{{smileIcon}}}
    </button>
    <button class='{{styles.icon}} {{styles.attachment}}'>
      {{{attachmentIcon}}}
    </button>
  </div>
  <div class='{{styles.input}}' contenteditable='true' data-placeholder='{{placeholder}}'></div>
  <div class='{{styles.right-icons}}'>
    <button class='{{styles.icon}} {{styles.delete}}'>
      {{{deleteIcon}}}
    </button>
    <button class='{{styles.icon}} {{styles.send}}'>
      {{{sendIcon}}}
    </button>
  </div>
</div>