<form class='{{styles.form}}' onsubmit='form.handleFormSubmit(event{{#if handler}}, {{handler}}{{/if}})'>
  {{#each inputs}}
    {{{this}}}
  {{/each}}
  <div class='{{styles.button-box}}'>
    {{{submit}}}
  </div>
</form>