<div class='{{styles.box}}'>
  <button class='{{styles.btn}}'>
    {{{createChatIcon}}}
  </button>
  <input type='text' class='{{styles.input}} {{#if showInput}}{{styles.show}}{{/if}}' placeholder='Chat title' />
</div>