<div>
  <svg
    width='{{width}}'
    height='{{height}}'
    style='{{style}}'
    viewBox='0 0 24 24'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <path d='{{pathData}}' fill='{{color}}'></path>
  </svg>
</div>