<div class='{{styles.box}}'>
  <div class='{{styles.top-box}}'>
    <a class='{{styles.top-avatar}}' href='/profile'>
      {{{avatar}}}
    </a>
    <div class='{{styles.top-btns}}'>
      <button class='{{styles.new-chat-icon}}'>
        {{{icons.newChat}}}
      </button>
      <button class='{{styles.more-icon}}'>
        {{{icons.more}}}
      </button>
    </div>
  </div>
  <div class='{{styles.content-box}}'>
    <span>list</span>
  </div>
</div>