<div class='{{styles.box}}'>
  {{#if show}}
    <div class='{{styles.top-box}}'>
      <button class='{{styles.top-avatar}}'>
        {{{avatarImg}}}
      </button>
      <div class='{{styles.search}}'>
        {{{search}}}
      </div>
    </div>
    <div class='{{styles.content-container}}'>
      <div class='{{styles.content-box}}'>
        <div class='{{styles.message-box}} hide-scroll'>
          <div class='{{styles.messages}}'>
            {{#each messageItems}}
              {{{this}}}
            {{/each}}
          </div>
        </div>
        <div class='{{styles.input}}'>
          {{{chatInput}}}
        </div>
      </div>
    </div>
  {{/if}}
</div>