<div class='{{styles.box}}'>
  {{#if show}}
    <div class='{{styles.top-box}}'>
      <button class='{{styles.top-avatar}}'>
        {{{avatar}}}
      </button>
      <div class='{{styles.top-btns}}'>
        <div class='{{styles.search}}'>
          {{{search}}}
        </div>
        <button class='{{styles.more-icon}}'>
          {{{moreIcon}}}
        </button>
      </div>
    </div>
    <div class='{{styles.content-box}}'>
      <div class='{{styles.message-box}} hide-scroll'>
        <div class='{{styles.messages}}'>
          {{#each messages}}
            {{{this}}}
          {{/each}}
        </div>
      </div>
      <div class='{{styles.input}}'>
        {{{chatInput}}}
      </div>
    </div>
  {{/if}}
</div>