<div class='{{styles.box}}'>
  <div class='{{styles.top-box}}'>
    <button class='{{styles.top-close-btn}}'>
      {{{closeIcon}}}
    </button>
    <span class='{{styles.top-title}}'>User info</span>
  </div>
  <div class='{{styles.content-box}} hide-scroll'>
    {{{profileInfo}}}
    <div class='{{styles.settings-box}}'>
      <div class='{{styles.btn-box}}'>
        {{{deleteChat}}}
      </div>
    </div>
  </div>
</div>