<a class='{{styles.box}}' href='/{{id}}'>
  <div class='{{styles.avatar}}'>
    {{{avatar}}}
  </div>
  <div class='{{styles.caption}}'>
    <div class='{{styles.title}}'>
      <span class='{{styles.fullname}}'>{{surname}} {{name}}</span>
      <time class='{{styles.time}}'>{{messageTime}}</time>
    </div>
    <div class='{{styles.subtitle}}'>
      <span class='{{styles.message}}'>{{lastMessage}}</span>
      <span class='{{styles.counter}}'>{{counter}}</span>
    </div>
  </div>
</a>