<div class='{{styles.box}} {{#if show}}{{styles.show}}{{/if}}'>
  <div class='{{styles.top-box}}'>
    <button class='{{styles.top-close-btn}}'>
      {{{closeIcon}}}
    </button>
    <span class='{{styles.top-title}}'>Contact info</span>
  </div>
  <div class='{{styles.content-box}} hide-scroll'>
    {{{profileInfo}}}
  </div>
</div>