<div class='{{styles.box}}'>
  <div class='{{styles.top-box}}'>
    <a class='{{styles.top-icon}}' href='/profile'>
      {{{icons.arrowLeft}}}
    </a>
    <span class='{{styles.top-title}}'>Edit Profile</span>
  </div>
  <div class='{{styles.content-box}} hide-scroll'>
    <div class='{{styles.avatar-box}}'>
      <button class='{{styles.avatar-btn}}'>
        <div class='{{styles.avatar}}'>
          {{{avatar}}}
        </div>
        <div class='{{styles.add-photo}}'>
          {{{icons.addPhoto}}}
        </div>
      </button>
    </div>
    <div class='{{styles.settings-box}}'>
      <div class='{{styles.settings-title}}'>Settings</div>
      {{{form}}}
    </div>

  </div>
</div>