<div class='{{styles.box}}'>
  <div class='{{styles.top-box}}'>
    {{{backLink}}}
    <span class='{{styles.top-title}}'>Edit Profile</span>
  </div>
  <div class='{{styles.content-box}} hide-scroll'>
    <div class='{{styles.avatar-box}}'>
      <div class='{{styles.avatar}}'>
        {{{changeAvatar}}}
      </div>
    </div>
    <div class='{{styles.settings-box}}'>
      <div class='{{styles.settings-title}}'>Settings</div>
      {{{settingsForm}}}
    </div>
    <div class='{{styles.settings-box}}'>
      <div class='{{styles.settings-title}}'>Password</div>
      {{{passwordForm}}}
    </div>
    <div class='{{styles.settings-box}}'>
      <div class='{{styles.logout-btn}}'>
        {{{logout}}}
      </div>
    </div>
  </div>
</div>