<div class='{{styles.box}}'>
  <div class='{{styles.top-box}}'>
    <a class='{{styles.top-icon}}' href="/profile">
      {{{icons.arrowLeft}}}
    </a>
    <span class='{{styles.top-title}}'>Edit Profile</span>
  </div>
  <div class='{{styles.content-box}}'>
    <div class='{{styles.settings-title}}'>Settings</div>
    {{{form}}}
  </div>
</div>